<div class="container">
  <h1>Quiz Question</h1>
  <p><%= @deck.name %></p>

  <section class="flashcard">
    <div id="card1" class="card">
      <figure class="front">
        <%= @card.question %>
      </figure>
      <figure class="back">
        <%= @card.answer %>
      </figure>
    </div>
  </section>

  <form action="/deck/<%=@deck.id%>/card/<%=@card.id%>/answer" method="post">
    <% @choices.each do |choice| %>
    <input type="radio" name="card[choice]" value="<%= choice %>"><%= choice %><br><br>
    <% end %>
    <br>
    <input id="submit_answer" type="submit" value="Submit">
  </form>

  <form class="hidden" action="/deck/<%= @deck.id %>/card/<%= @deck.cards.shuffle.first.id %>" method="GET">
    <input type="submit" value="Next Question">
  </form>
  <form class="hidden" action="/user/results" method="GET">
    <input type="submit" value="End Quiz">
  </form>
</div>
