<div class="container">
  <h1>Quiz Question</h1>
  <p><%= @deck.name %></p>

  <form action="/deck/<%=@deck.id%>/card/<%=@card.id%>/answer" method="post">

    1 of <%= @deck.cards.size%><br>
    Question: <%= @card.question %><br>
    <% @choices.each do |choice| %>
      <input type="radio" name="card[choice]" value="<%= choice %>"><%= choice %><br>
    <% end %>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
