<div class="container">
	<h1><%= @user.name %>'s Results</h1>
	<table>
		<tr>
			<td>Round</td>
			<td>Deck Name</td>
			<td># Correct</td>
			<td>Percentage</td>
		</tr>
		<% @rounds.each_with_index do |round, index| %>
		<tr>
			<td><%= index+1 %></td>
			<td><%= Deck.find(Card.find(Guess.find_by(round_id: round.id).card_id).deck_id).name %></td>
			<% correct = Guess.where(round_id: round.id, correct: true).length %>
			<% num_cards = Guess.where(round_id: round.id).length %>
			<td><%= correct %> / <%= num_cards %></td>
			<td><%= percentage(correct, num_cards) %></td>
		</tr>
		<% end %>
	</table><br><br>
	<form action="/deck" method="get">
		<input type="submit" value="Play Again">
	</form>
</div>
